@import "aboutme.css";

h2{
  display: inline-block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

h3{
  display: inline-block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}
