@import "aboutme.css";

h1{
  display: inline-block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

img{
  display: inline-block;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}
